
.container{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

#logo{
    width: 8rem;
    height: 7rem;
}

footer{
    text-align: center;
    float: none;
    margin-bottom: 0;
}


.containerlogin{
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 10%;
    
    border-width: 5px;
    padding-left: 25%;    
    padding-right: 25%;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-5%);
}


.form-control{
    width: 200px;
}