head, body{
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.topheader{
    background-color: rgb(163, 147, 4);
    color: rgb(207, 194, 4);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#topdiv1{
    text-align: left;
    display: flex;
}

#topnav1 a:hover{
    color: red;
    padding-top: 30px;
    text-decoration: none;
}

#topnav1{
    text-align: right;
    text-orientation: sideways-right;
    padding-top: 55px;
    padding-right: 5%;
    text-decoration: none;
}

#topnav1 a{
    color: white;
    text-decoration: none;

}

#topnav1 a i{
    padding-top: 13px;
}



video{
    position: relative;
    width: 100% !important;
    height: 150px !important;
    object-fit: cover; 
}

.login{
    width: 100%;
    
}

.content{
    width: 80%;
    text-align: justify;
    text-emphasis: none;
}



.contentimg{
    float: right;
    position: relative;
    height: 100% !important;
    border: 1px solid black;
}

.textoizquierda{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    text-decoration: underline;
}



.forlog{
    background-color: rgb(163, 147, 4);
    width: 300px;
    height: 220px;
    block-size: 300px;

}

.forlog input{
    width: 98%;
}

.boton{
    height: 30px;
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.galeria{
    margin: 10px;
    border: 3px solid #ccc;
    float: left;
    width: 400px;
    padding: 0 6px;
    padding-left: 50px;
    padding-right: 30px;
    align-items: center;
}



.galeria a img{
    width: 90%;
    height: auto;
}

.descunder{
    text-align: right;
    padding-left: 270px;
    
}
.descunder input{
    width: 3em;
}




footer{
    text-align: center;
    background-color: rgb(163, 147, 4);
    margin-top:500px;
    width:100%;
    height:50px;
    float: unset;
    padding-top: 1%;
}
